* {
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica", "Arial", sans-serif;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    --lineCol: rgb(155, 193, 188);
    --backCol: rgb(240,245,240);
    --actCol: rgb(237, 106, 90);
}