* {
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica", "Arial", sans-serif;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-variant: small-caps;
}

#menu {
	height: 0%;
    width: 100%;
    position: fixed;
    z-index: 2;
    background: rgba(0,0,0, 0.75);
    overflow-y: hidden;
    transition: 0.5s;
    color: #CCC;
}

#menuNavBar{
	position: absolute;
	width: 100%;
	/*background: red;*/
	height: 15%;
}

#closeBut{
	position: absolute;
	right: 10%;

	font-size: 4.5em;
}

#navExit{
	position: absolute;
	left: 10%;

	font-size: 2em;
	text-decoration: none;
	font-weight: bolder;
}

.menuCont{
	position: relative;
    width: 100%;
    text-align: center;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.menuTitle{
	font-size: 2em;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}


.menuSel{
	display: inline-block;
	font-size: 2em;
	padding: 0.2em;
	margin-left: 0.3em;
	margin-right: 0.3em;
}

.disabledButton{
	visibility: hidden;
}

#menuApply{
	margin-top: 1em;
	display: inline-block;
	font-size: 2em;
	font-weight: bolder;
	background-color: var(--actCol);
	color: var(--backCol);
	border-radius: 0.3em;
	padding: 0.5em;
	width: 40%;
	text-decoration: none;
}

/*************NAV**************/

.topNavBar {
	position: absolute;
	width: 100%;
	height: 15%;
}

.navButton{
	position: relative;
    top: 50%;
    transform: translateY(-50%);
	color: #999;
	font-size: 3em;
}

.menuButCont{
	position: absolute;
	right: 10%;
	height: 100%;
}

.perfBut{
	display: inline-block;
	font-size: 2em;
}

#scoreCont{
	position: absolute;
	left: 10%;
	height: 100%;
}

#perfectionCont{
	position: absolute;
	left: 50%;
	height: 100%;
	transform: translateX(-50%);
}

#highScoreCont{
	margin-top: 1em;
	font-size: 1.5em;
}

.highScoreText{
	display: inline-block;
}


/******************************/

#gameCanvas {
	display: block;
}

/*******************************/

